#menu {
    background-color: #2A4B7C;
}
#menu_text{
    color: #FAE03C;
    font-size: 26px;
}

.footer {
    justify-content: center;
    display: flex;
    padding: 5px;
    background-color: #2A4B7C;
    color: #fff;
    position: sticky;
    top: 100%;
}

#index_header{
    background: none;
    position: absolute;
    top: 30%;
    left: 40%;
}
#header1{
    text-align: left;
    color: #274f4f;
    font-size: 90px;
    font-family: "Aclonica";
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 18px;
}
#index_header2{
    text-align: left;
    color: #274f4f;
    font-size: 56px;
    font-family: "Aclonica";
    letter-spacing: 3px;
    word-spacing: 18px;
}

#index_body{
    background-image: url("http://4.bp.blogspot.com/_0bwJTuGJVb4/SwFhqkiuAgI/AAAAAAAAALg/acwH1uO1gWk/s1600/Magic+carpet.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: skyblue;
    width: 100%;
    height: 100vh;
    margin: 0;
}

#other_header{
    text-align: center;
    color: #333300;
    font-size: 48px;
    font-family: "Aclonica";
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #cce6ff;
}

#index_{
    font-family: "Aclonica";
    background-color: #2A4B7C;
}

.flex-container {
    display: flex;
    background-color: #cce6ff;
    padding-left: 50px;
}
  
.flex-container > div {
    background-color: #f1f1f1;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    padding: 20px;
    font-size: 18px;
}

#rdiv {
    padding-left: 50px; 
}

#reviews_body{
    background-color: #cce6ff;
}